.section {
  display: flex;
  width: 1200px;
  margin: 0 auto;

  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.section_block-left {
  background: #1e2939;
  width: 370px;
  padding: 20px;
}
.section_block_left-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--primary-color);
  margin-top: 50px;
}
.section_wrap-contacts {
  list-style: none;
  margin-top: 15px;
}
.section_contact-item {
  margin-top: 8px;
}

.section-svg {
  fill: var(--thirt-orange-color);
  display: inline;
}
.section_phone-letter {
  color: gray;
  margin-left: 5px;
}
.section_contacts-country {
  margin-top: 15px;
  color: gray;
  text-align: center;
}

.section_phone-letter:hover,
.section_phone-letter:focus {
  color: var(--primary-color);
}
.section_wrap-skills {
  list-style: disc;
  margin-top: 10px;
  padding-left: 20px;
}
.section_skills-item {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--thirt-orange-color);
}
.section_skills-item:last-child {
  margin-bottom: 0;
}

.section_skills-text {
  color: rgb(216, 213, 213);
}

.section_block-right {
  padding: 100px 80px;
}
.section_right-speciality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.section_right-title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: var(--secondary-color);
}
.section_about {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #595959;
}
.section_sub-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
  color: var(--secondary-color);
}
.section_link-project {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2b2929;
}
.section_link-project:hover,
.section_link-project:focus {
  color: var(--thirt-orange-color);
}
.section_thirt-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;
  margin-top: 12px;
}
.section_thirt_title-orange {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--thirt-orange-color);
}
.section_paragraph-date {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
}
.section_paragraph_date-country {
  display: inline-block;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid black;
}
.section_right-item {
  color: #595959;
}
.section_right-list {
  margin-top: 10px;
}
.section_righy-items {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  color: var(--thirt-orange-color);
}
#map {
  width: 100%;
  height: 100px;
  border: 1 px solid red;
}
